body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-smi: 13px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #fefefe;
  --color-gray-200: #171a1f;
  --color-gray-300: #101729;
  --color-darkolivegreen: #5c5e00;
  --color-dimgray: #565d6d;

  /* Gaps */
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-6xs: 7px;
  --gap-12xs: 1px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-6xs-5: 6.5px;
  --padding-11xl: 30px;
  --padding-6xs: 7px;
  --padding-smi: 13px;
  --padding-4xs: 9px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-9xs: 4px;
}
